@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #151515;
    color: white;
}

header{
    margin-top: 18px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

header img{
    padding-right: 5px;
}

header .name{
    font-size: 18px;
}

header .links{
    cursor: pointer;
    color: #9ba3b4;
}

header .searchbtn input{
    font-size: 18px;
    background-color: #151515;
    border: none;
    color: #9ba3b4;
}

header .searchbtn button{
    border: none;
    color: white;
    background-color: #0078d4;
    font-size: 18px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}

.info{
    margin-top: 20px;
    text-align: center;
}

.info a{
    color: #0078d4;
}

.info span{
    color: #9ba3b4;
}